@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply m-0 p-0;
}

main {
  @apply h-full p-4 sm:p-8 md:p-12 lg:p-16;
}

/* Importaciones */
@import '@/styles/navbar.css';
@import '@/styles/footer.css';
@import '@/styles/privacyPolicy.css';
@import '@/styles/input.css';
@import '@/styles/button.css';
@import '@/styles/form.css';
@import '@/styles/textArea.css';
@import '@/styles/checkbox.css';
@import '@/styles/title.css';
@import '@/styles/formDescription.css';
